<li>
	{{name}}

	<button class="change-devoured" data-id="{{id}}" data-newd="{{devoured}}">
		{{#if devoured}}DEVOUR BURGER!{{else}}Cook another burger!{{/if}}
	</button>
	<button class="delete" data-id="{{id}} ">
		DELETE THIS BURGER!
	</button>
</li>
