<li>
	{{name}}

	<button class="change-devoured" data-id="{{id}}" data-newd="{{devoured}}">
		{{#if devoured}}SLEEP TIME/DEVOUR!{{else}}WAKE UP/DEVOUR?!{{/if}}
	</button>
	<button class="delete" data-id="{{id}} ">
		DELETE THIS BURGER!
	</button>
</li>
